.home-wrapper{
    font-family: 'Nunito', sans-serif; }
.home-buttons {    font-family: 'Nunito', sans-serif;
}

.home-wrapper {
    background-image: linear-gradient(to right, rgb(52, 52, 56),#393941, rgb(19, 19, 24));
    background-color: grey;
    background-size: cover;
    background-position: center;
    padding: 100px;
    height: 500px;
    margin: -8px;
    display: flex;
    justify-content: space-between;
}
/* left styles */
.home-wrapper > .home-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-wrapper > .home-left > .text :first-child{
    font-size: 35px;
    color: #D5D5D5;
}

.home-wrapper > .home-left > .text :nth-child(2){
    font-size: 30px;
    color: #D5D5D5;
}

.home-wrapper > .home-left > .text p> .white {
    color: white;
    font-weight: 900;
} 

.home-wrapper > .home-left > .home-buttons {
    display: flex;
    gap: 30px;
}
.home-wrapper > .home-left > .home-buttons > .sign {
    background-color: rgb(115, 199, 115);
    border: solid 1px rgb(115, 199, 115);
    border-radius: 5px;
    font-size: 40px;
    padding: 14px;
}

.home-wrapper > .home-left > .home-buttons > .learn {
    background-color: black;
    color: white;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 40px;
    padding: 14px;
}

/* right styles */
.home-wrapper > .home-right {
    display: flex;
    flex-direction: column;
}

.home-wrapper > .home-right> .home-img img {
    height: 500px;
    width: 800px;
}

.home-wrapper > .home-right p {
    font-size: 25px;
    color: white;
}

.home-wrapper > .home-right p > .blue {
    color: rgb(132, 207, 250);
}

.dropdown-button {
    font-size: 1.5em;
}
#hp  {
    float: right;    
     margin: 0 0 0 15px;
    }
.home-wrapper > .home-left > .text {
    font-size: 3.5rem;

}

.home-buttons {
    height: 100px;
}

.home-img {
    margin-right: -100px;
}
.home-right {
  margin-left: 20px;
}