/* nav styles */
.nav-wrapper {
    height: 100px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-content: center;
    margin: -8px;
    border-top: solid 3px white;
}

/* left column styles */
.nav-wrapper > .left-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper > .left-column img {
    height: 100%;
    width: 250px;
    
}

/* center column styles */
.nav-wrapper > .center-column {
    padding-left: .75em;
    align-items: center;
} 

.nav-wrapper > .center-column > .explore-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 50px;
    align-content: center;
}

.nav-wrapper > .center-column > .explore-wrapper > .explore-header {
    color: wheat;
    height: 35px;
}

.nav-wrapper > .center-column > .explore-wrapper > .explore-content {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.nav-wrapper > .center-column > .explore-wrapper > .explore-content > .links-wrapper{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.nav-wrapper > .center-column > .explore-wrapper > .explore-content > .links-wrapper > .links a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}

.nav-wrapper > .center-column > .explore-wrapper > .explore-content > .spark-button > .spark{
    background-color: transparent;
    color: gray;
    border: none;
    font-size: 1em;
    width: 100px;
    word-spacing: 7px;
}

/* right column styles */

.nav-wrapper > .right-column {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    font-size: 1.5em;
    color: white;
    background-color: #3D3D3D;
    border: 1px solid #3D3D3D;
    border-radius: 3px;
    width: 100%;
    height: 75px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper > .right-column > .seach-icon {
    font-size: 3em;
}

.nav-wrapper > .right-column > .create-bropdown > .button span {
    font-size: 1.5em;
    padding-left: 5px;
}
.login-button {
height: 40px;
width: 90px;
margin-top: -35px;
}
.signup-button {
    height: 40px;
    width: 90px;
    margin-top: -35px;
}
.create-dropdown {
    height: 40px;
    width: 120px;
    margin-top: -35px;
}

.body-background {
 background-color: gray;
 margin-top: 8px;
 margin-left: -8px;
 margin-right: -8px;
 margin-bottom: 800px;
}